/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}




:root {
    --blauw: rgb(41, 65, 171);
    --groen: #1ED760;
    --wit: #fff;
    --zwart: #000;
    --grijs: #919496;
    --achtergrond: #1d75de;
    --lichtgrijs: #efefef;
}











li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.75em;
    background-color: var(--zwart);
}

@media screen and (min-width: 768px) {
    nav {
        padding: 0.6em 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        padding: 1.5em 2em;
    }
}

@media screen and (min-width: 1920px) {
    nav {
        display: flex;
        justify-content: space-evenly;
    }
}


.active {
    text-decoration-line: underline;
}




.hamburger {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-left: em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    nav ul li {
        margin-left: 2em;
    }
}

nav ul li a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--wit);
}

@media screen and (min-width: 1024px) {
    nav .nav-menu li a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    nav .nav-menu li a {
        font-size: 16px;
    }
}

nav .nav-menu li a:hover {
    color: var(--groen);
}

nav a:nth-of-type(1) {
    font-size: 1em;
    font-weight: 500;
    color: var(--wit);
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    nav a:nth-of-type(1) {
        font-size: 1.55em
    }
}

nav a img {
    width: 30px;
}

@media screen and (min-width: 1024px) {
    nav a img {
        width: 50px;
    }
}

















@media only screen and (max-width: 768px) {        /* stijling van de class "nav-menu", die word hier gestijld maar buiten het scherm gezet */
    .nav-menu {
        position: fixed;        /* zorgt ervoor dat de positie vast staat van dit item */
        right: -100%;        /* door right op -100% te zetten word hij buiten het scherm gezet, dit is zodat hij zo als hij active word met de transition vanaf rechts inschuift */
        top: 3rem;
        flex-direction: column;        /* zorgt ervoor dat de items onder elkaar worden weergegeven */
        background-color: #000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {        /* dit is de class "nav-menu" als hij "active" is, door right: 0; word hij nu dus laten zien op het scherm */
        right: 0;
        height: 92%;
    }
    
    @media screen and (min-width: 375px) {        /* dit is de class "nav-menu" als hij "active" is bij 375px breed */
    .nav-menu.active {
        height: 93%;
    }
}
    
    @media screen and (min-width: 414px) {        /* dit is de class "nav-menu" als hij "active" is bij 414px breed */
    .nav-menu.active {
        height: 94%;
    }
}
    
    @media screen and (min-width: 768px) {        /* dit is de class "nav-menu" als hij "active" is bij 768px breed */
    .nav-menu.active {
        height: 96%;
    }
}
    
    nav ul {        /* stijling van ul in de nav */
        display: flex;
        justify-content: center;
    }

    nav ul li {        /* stijling van li in de ul in de nav */
        margin: 2.5em 0;
    }

    .hamburger {        /* stijling van de class "hamburger" */
        display: flex;
        flex-direction: column;
        cursor: pointer;        /* veranderd de stijling van de cursor bij dit item */
        margin-top: 5px;
    }

    .hamburger img {        /* stijling van img in de class "hamburger" */
        width: 30px;
    }
}

















.index {
    background-color: var(--blauw);
    background-image: url(../images/achtergrond.svg);
    background-position: center top 40%;
    background-repeat: no-repeat;
    background-size: 195%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: -1px
}


@media screen and (min-width: 375px) {
    .index {
        background-size: 153%;
        background-position: right 40% center;
    }
}

@media screen and (min-width: 1920px) {
    .index {
        background-image: url(../images/achtergrond1920.svg);
        background-size: 170%;
        background-position: 44% 7%;
    }
}






.index h1 {
    width: 100%;
    text-align: center;
    color: var(--groen);
    margin-top: -20px;
    font-size: 3em;
    letter-spacing: -1.75px;

}

@media screen and (min-width: 768px) {
    .index h1 {
        font-size: 6.5em
    }
}

.index p {
    width: 100%;
    text-align: center;
    color: var(--groen);
    margin-top: 1em;
    line-height: 1.5em;
}

@media screen and (min-width: 768px) {
    .index p {
        font-size: 18px;
        margin-top: 0;
        line-height: 3em;
    }
}

.index a {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    color: var(--blauw);
    background-color: var(--groen);
    border-radius: 500px;
    padding: 1rem 2rem;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.index a:hover {
    border: 1px solid var(--groen);
    background-color: var(--blauw);
    color: var(--groen);
    transition: 0.2s ease-in-out;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    .index a {
        width: 30%;
        font-size: 0.8em;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .index a {
        width: 23%
    }
}

@media screen and (min-width: 1920px) {
    .index a {
        width: 12%
    }
}












footer {
    display: flex;
    flex-direction: column;
    background-color: var(--zwart);
    padding: 0.4em 0.75em;

}

@media screen and (min-width: 768px) {
    footer {
        padding: 0em 1.25em 2em 1.25em;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 4em 2em 3em 2em;
    }
}

@media screen and (min-width: 1920px) {
    footer {
        padding: 4em 20em 3em 20em;
    }
}


.links {}

@media screen and (min-width: 768px) {
    .links {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .links {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .main-footer {
        display: flex;
        margin-bottom: 5em;
    }
}

@media screen and (min-width: 1920px) {
    .main-footer {
        justify-content: center;
    }
}


footer .footer-logo {
    padding-top: 3em;
    font-size: 1em;
    font-weight: 500;
    color: var(--wit);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    .main-footer .footer-logo {
        display: flex;
        align-items: flex-start;
        width: 20%;
        font-size: 24px;
        padding-top: 0.6em;
    }
}

@media screen and (min-width: 1024px) {
    .main-footer .footer-logo img {
        margin-top: -10px;
        width: 50px
    }
}

footer .footer-logo img {
    width: 30px;
}


footer .kop {
    color: var(--grijs);
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 6em;
}

footer ul {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    footer ul {
        width: 33%;
    }
}


footer ul li {
    list-style: none;
}

footer ul li a {
    color: var(--wit);
    line-height: 2.5em;
    font-weight: lighter;
}

footer ul li a:hover {
    color: var(--groen);
}




footer section {
    margin-top: 8em;
}

footer section img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 0.5em;
}

@media screen and (min-width: 1024px) {
    .main-footer section {
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;
        width: 30%;
    }
}


@media screen and (min-width: 768px) {
    .main-footer section img {
        margin-right: 1em;
    }
}


@media screen and (min-width: 1024px) {
    .main-footer section img {
        margin-right: 1em;
    }
}







.locatie {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
    .locatie {
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 1920px) {
    .locatie {
        width: 75%;
        margin: auto;
    }
}

.locatie a {
    color: var(--grijs);
    font-weight: lighter;
    font-size: 0.75em;
}

.locatie a img {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}



.bottom-nav {
    display: flex;
}

@media screen and (min-width: 1920px) {
    .bottom-nav {
        width: 75%;
        margin: auto;
    }
}

.bottom-nav ul {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

@media screen and (min-width: 768px) {
    .bottom-nav ul {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .bottom-nav ul {
        width: 55%;
    }
}


.bottom-nav ul li {}



.bottom-nav ul li a {
    font-size: 10px;
    color: var(--grijs);
    line-height: 3em;
}

.bottom-nav ul li a:hover{
    color: var(--groen);
}

@media screen and (min-width: 768px) {
    .bottom-nav ul li a {
        font-size: 12px;
    }
}




.bottom-nav p {
    width: 55%;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    color: var(--grijs);
}


@media screen and (min-width: 768px) {
    .bottom-nav p {
        width: 30%;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .bottom-nav p {
        width: 45%;
    }
}















.premium {
    background: var(--achtergrond);
    margin-top: -1px;
}

.premium .ad {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
}

@media screen and (min-width: 1920px) {
    .premium .ad {
        width: 60%;
        margin: auto;

    }
}



.premium .ad h1 {
    color: var(--wit);
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 0.75em
}

@media screen and (min-width: 768px) {
    .premium .ad h1 {
        font-size: 40px;
        margin-top: 1em;
    }
}





.premium .ad h2 {
    color: var(--wit);
    margin-top: 1em;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 1.25px;
    line-height: 1.5em;
    padding-left: 1.3em;
    width: 97%
}

@media screen and (min-width: 768px) {
    .premium .ad h2 {
        font-size: 24px;
        margin-bottom: 1em;
    }
}


.knoppen {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .knoppen {
        flex-direction: row;
        align-items: center;
    }
}




.premium .ad a {
    color: var(--wit);
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    background-color: rgb(25, 20, 20);
    border-radius: 500px;
    padding: 1rem 2rem;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
}

.knoppen a:hover {
    border: 2px solid rgb(25, 20, 20);
    background-color: var(--achtergrond);
    color: rgb(25, 20, 20);
    transition: 0.2s ease-in-out;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    .premium .ad a {
        width: 30%;
        padding: 1em 1em;
        margin-left: 30px;
        margin-right: 20px;
        margin-top: 0.75em;
    }
}



.premium .ad a:nth-of-type(2) {
    color: var(--wit);
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
    background-color: var(--achtergrond);
    border-radius: 500px;
    border: 2px solid #fff;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    .premium .ad a:nth-of-type(2) {
        width: 40%;
        padding: 1em 1em;
        margin-left: 0;
        margin-right: 0;
    }
}

.knoppen a:nth-of-type(2):hover {
    background-color: var(--wit);
    color: var(--zwart);
    transition: 0.2s ease-in-out;
    font-weight: bolder;
}


.premium .ad p {
    color: var(--wit);
    margin-top: 3em;
    padding-bottom: 2em;
    padding-left: 1.7em;
    font-size: 12px;
    font-weight: lighter;
    text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
    .premium .ad p {
        padding-left: 2.5em;
    }
}




.waarom {
    background: var(--wit);
}

.waarom h1 {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}




.waarom ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

@media screen and (min-width:768px) {
    .waarom ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1920px) {
    .waarom ul {
        width: 60%;
        margin: auto;
    }
}

.waarom ul li:nth-of-type(1) {
    display: flex;
    background-image: url(../images/downloaden.png);
    background-position: left 5% top 40%;
    background-repeat: no-repeat;
    background-size: 30%;
    width: 142px;
    height: 142px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    margin-bottom: 3em;
}

@media screen and (min-width:768px) {
    .waarom ul li:nth-of-type(1) {
        width: 50%;
    }
}

@media screen and (min-width:1024px) {
    .waarom ul li:nth-of-type(1) {
        height: 15vh;
        margin-bottom: 0;
        background-position: left 25% top 40%;
    }
}

@media screen and (min-width:1920px) {
    .waarom ul li:nth-of-type(1) {
        height: 20vh;
    }
}


.waarom ul li:nth-of-type(1) p:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -2em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.waarom ul li:nth-of-type(1) p {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 1.5em;
}







.waarom ul li:nth-of-type(2) {
    display: flex;
    background-image: url(../images/advertenties.png);
    background-position: left 5% top 40%;
    background-repeat: no-repeat;
    background-size: 30%;
    width: 142px;
    height: 142px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    margin-bottom: 3em;
}

@media screen and (min-width:768px) {
    .waarom ul li:nth-of-type(2) {
        width: 50%;
        margin-bottom: 3em;
    }
}

@media screen and (min-width:1024px) {
    .waarom ul li:nth-of-type(2) {
        height: 15vh;
        background-position: left 25% top 40%;
    }
}

@media screen and (min-width:1920px) {
    .waarom ul li:nth-of-type(2) {
        height: 20vh;
    }
}


.waarom ul li:nth-of-type(2) p:nth-of-type(1) {
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -1px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.waarom ul li:nth-of-type(2) p {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 1.5em;
    margin-left: 1em;
}









.waarom ul li:nth-of-type(3) {
    display: flex;
    background-image: url(../images/favoriet.png);
    background-position: left 5% top 40%;
    background-repeat: no-repeat;
    background-size: 30%;
    width: 142px;
    height: 142px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    margin-bottom: 2em;
}

@media screen and (min-width:768px) {
    .waarom ul li:nth-of-type(3) {
        width: 50%;
    }
}

@media screen and (min-width:1024px) {
    .waarom ul li:nth-of-type(3) {
        height: 15vh;
        margin-top: 0;
        background-position: left 25% top 40%;
    }
}

@media screen and (min-width:1920px) {
    .waarom ul li:nth-of-type(3) {
        height: 20vh;
    }
}


.waarom ul li:nth-of-type(3) p:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -1em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.waarom ul li:nth-of-type(3) p {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 1.5em;
}








.waarom ul li:nth-of-type(4) {
    display: flex;
    background-image: url(../images/overslaan.png);
    background-position: left 5% top 40%;
    background-repeat: no-repeat;
    background-size: 30%;
    width: 142px;
    height: 142px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    height: 40vh;
    margin-top: -2em;
}

@media screen and (min-width: 375px) {
    .waarom ul li:nth-of-type(4) {
        height: 30vh;
    }
}

@media screen and (min-width:768px) {
    .waarom ul li:nth-of-type(4) {
        width: 50%;
        height: 20vh;
    }
}

@media screen and (min-width:1024px) {
    .waarom ul li:nth-of-type(4) {
        height: 15vh;
        margin-top: 0;
        background-position: left 25% top 40%;
    }
}

@media screen and (min-width:1920px) {
    .waarom ul li:nth-of-type(4) {
        height: 20vh;
    }
}



.waarom ul li:nth-of-type(4) p:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -3.3em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
}

.waarom ul li:nth-of-type(4) p {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 1.5em;
}





.kies {
    background: var(--lichtgrijs);
}

.kies h1 {
    display: flex;
    justify-content: center;
    padding-top: 1.25em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    font-size: 32px;
}

.kies p {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5em;
}



.box {
    width: 90%;
    background-color: var(--wit);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: auto;
    border: solid 1px rgb();
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
}

@media screen and (min-width:768px) {
    .box {
        width: 60%;
    }
}

@media screen and (min-width:1024px) {
    .box {
        width: 40%;
    }
}

@media screen and (min-width:1920px) {
    .box {
        width: 20%;
        height: 65vh;
        margin-bottom: 5em;
    }
}

.boxes {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1920px) {
    .boxes {
        flex-direction: row;
        margin: auto;
        width 60%;
    }
}




.box h1 {
    justify-content: flex-start;
    margin-left: 1.2em;
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1px
}

@media screen and (min-width:768px) {
    .box h1 {
        margin-left: 2em;
    }
}

@media screen and (min-width:1024px) {
    .box h1 {
        margin-left: 1.75em;
    }
}

.box p {
    justify-content: flex-start;
    margin: auto;
    line-height: 1.5em;
    font-weight: lighter;
}

@media screen and (min-width:1920px) {
    .box p {
        margin-bottom: 0.5em;
        margin-top: 0;
    }
}

.box hr {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid var(--grijs);
}


.box ul li {
    display: flex;
    margin-bottom: 1em;
}


.box ul li img {
    height: 24px;
    width: 24px;
    margin-left: 1.7em;
    margin-right: -10px;
}

@media screen and (min-width:768px) {
    .box ul li img {
        margin-left: 3em;
    }
}

.box ul li p {
    justify-content: flex-start;
    text-align: start;
    font-weight: lighter;
    width: 75%;
}

@media screen and (min-width:768px) {
    .box ul li p {
        width: 65%;
    }
}

@media screen and (min-width:768px) {
    .box ul li p {
        margin-left: 1.25em;
    }
}

.box a {
    width: 70%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: rgb(25, 20, 20);
    border-radius: 500px;
    padding: 1rem 2rem;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: var(--wit);
}

.box a:hover {
    border: 2px solid rgb(25, 20, 20);
    background-color: var(--wit);
    color: rgb(25, 20, 20);
    transition: 0.2s ease-in-out;
    font-weight: bolder;
}


@media screen and (min-width:768px) {
    .box a {
        width: 50%;
    }
}

@media screen and (min-width:1920px) {
    .box a {
        width: 50%;
        margin-top: auto;
    }
}


.box p:nth-of-type(3) {
    text-align: start;
    font-size: 11px;
    color: var(--grijs);
    text-decoration-line: underline;
    margin-bottom: 3em;
}

@media screen and (min-width:768px) {
    .box p:nth-of-type(3) {
        margin-top: 2em;
    }
}
